.nav-container {
  background-color: #3367d6;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.history-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 15px;
}

.app-logo {
  height: 45px;
  width: 150px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.search-box {
  background-color: #2850a7;
  border: 0.5px solid #ececec;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.search-name {
  background-color: #2850a7;
  border: 0.5px solid #ececec;
  color: #ffffff;
  width: 250px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 180px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}

.card-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 4px 16px 0px #ececec;
  margin: 50px;
}

.empty {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  color: #64748b;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
}
